img.width-full {
  width: 100%;
}

.media {
  background: white;
  margin-bottom: 2rem;
  padding: 2rem;
  &:hover {
    background: $lightYellow;
  }
  .media-left {
    vertical-align: top;
    margin-right: 2rem;
    padding: 0;
    .property-image {

      max-width: 150px;
      border: 3px solid $lightBlue;
      &:hover {
        border-color: $red;
      }
    }
  }
  .media-body {
    padding-left: 2rem;
  }
}
.log{
  width: 60%;
  margin: 0 auto;
}

.banner{
  max-height: 590px;
  color: white;
}
