<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Chewy|Dosis" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDn5tZtcy_dDbvfRjJPT4hLRfRZMCxRDQ">
    </script>
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script
   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script
    src="/js/client.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="row">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand logo" src="../images/Logo8.png">
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Search</a></li>
              <%# <li><a href="/properties">Properties</a></li>%>
              <% if (locals.isLoggedIn) { %>
                <li>
                  <a href="/logout">Logout</a>
                </li>
              <% } else { %>
                <li>
                  <a href="/login">Log In</a>
                </li>
                <li>
                  <a href="/register">Register</a>
                </li>
              <% } %>
            </ul>
          </div><!-- /.row -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <main class="container">
    <%- body %>
  </main>
  <footer>Made with <span>&#10084;</span> at GA London</footer>
</body>
</html>
