
<div class="">
  <form class="" action="" >
    <div class="row">
      <div class="">
        <label for="postcode">Postcode</label>
        <input type="text" name="postcode" id="postcode">
      </div>
      <div class="">
        <label for="min-price">Min price</label>
        <input type="text" name="min_price" id="min-price">
      </div>
      <div class="">
        <label for="max-price">Max price</label>
        <input type="text" name="max_price" id="max-price">
      </div>
      <div class="">
        <label for="bedrooms">Bedrooms</label>
        <select class="" name="bedrooms" id="bedrooms">
          <option value="0">0</option>
          <option value="1+">1+</option>
          <option value="2+">2+</option>
          <option value="3+">3+</option>
          <option value="4+">4+</option>
          <option value="5+">5+</option>
        </select>
      </div>
      <%# <div class="">
        <input type="checkbox" id="living-room" name="living_room"/>
        <label for="living-room">Living Room required</label>
      </div>%>
      <button id="search" class="btn-link">Search</button>
    </div>
  </form>
</div>
