

<h4><%= property.address %></h1>
<img src="<%= property.imageUrl %>" alt="" class="crop-image">
<p><small>Price per week:</small> £<%=property.ppw %></p>
<p><small>Property description: </small><%= property.description %></p>
