html{
  height: 100%;
}
body {
  background: $lightGrey;
  font-size: 14px;
  main{
    padding: 10px;
    padding-bottom: 30px;
    min-height: 100%;
    margin-bottom: 100px;

    }
    main:after{
      content: "";
      display: block;
    }
    footer, main:after{
      height: 140px;
    }
}

.no-margin {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.margin-bottom-2rem {
  margin-bottom: 2rem;
}


.bg-white {
  background: white;
}

#map {
  width: 100%;
  height: 60vh;
  background-color: grey;
}


.hide {
  display: none;
}
