$sans-serif: arial,helvetica,sans-serif;
$header: 'Dosis', sans-serif;

$blue:        #14238e;
$lightBlue:   #39a0ed;
$red:         #ea4970;
$lightGrey:   #eaecee;
$darkGrey:    #ccc;
$lightYellow: lightYellow;

$navbar-height: 70px;
